

.tabela{
  background-color: darkolivegreen;
  border-radius: 20px;
  width: 100%;
  font-weight: 100;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 200px #0000001a;
  margin-left: auto;
  margin-right: auto;
  font-family: 'verdana';
  color: white;

}

.button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #999;
}

.button:hover {background-color: #ff0000}

.button:active {
  background-color: #ff0000;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.topo{
  background-color: #2d2d2b;
  color: antiquewhite;
  border-radius: 20px;
}

.corpo{
  border-bottom: 2px groove rgb(49, 27, 69);
  line-height: 3.6;
  padding-left: 15px;
  padding-right: 20px;
  text-align: left; 
}

.rodape{
  background-color: #2d2d2b;
  color: antiquewhite;
  
}

th,td {
  text-align: center;
  padding: 10px;
}

th{
  text-align: left;
}

tbody tr:hover{
  background-color: darkgreen;
}


.titulo{
  text-align: center;
}

body{
  background-color: white;
}

.container-setlinhas{
  display: inline-block;
  width: 20px;
  height: 40px;
  margin-left: 10px;
  vertical-align: middle
}
.container-setlinhas > div{cursor: pointer;}